table{
    background-color: whitesmoke;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}
.tdm{
    background-color: rgb(4, 0, 44);
    color:white;
}
#total{
    background-color: rgb(4, 0, 44);
    color:white;
    margin-left:57%;
    
}
td,th{
    border-width:	thin ;
    border-color:white;
    padding:5px;
    text-align: left;
}
button{
    margin-top: 5px;
    float:left;
    background-color:rgba(4, 0, 44, .95);
    color:white;
    padding:10px;
    border-radius: 7px;
    border-color:white;
}
button:hover{
    color:rgb(19, 139, 238);
}