body{
  background-color: whitesmoke;
}
#trp{
  background-color: rgb(4, 0, 44);
  color:white;
}
th{
  padding:5px;
  font-size:20px;
  padding-right:45px;
  text-align: left;
  width: 100%;
}
td{
  padding:5px;
  font-size:20px;
  width: 100%;
  background-color: white;
  color:rgb(4, 0, 44);
}
.btnE,.btnM{
  background-color: transparent;
  text-align: left;
  padding:5px;
  width: 100%; 
  height:100%;
}
.btnM:hover{
  color:rgb(19, 139, 238);
}
.btnE:hover{
  color:red;
}
#div{ 
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin:15px;
  margin-bottom: 0px;
}
input, select{
  height: 25px;
  font-size:20px;
  text-align:center;
}
#agp{
  text-align: center;
  background-color:rgb(4, 0, 44);
  color:white;
  border-radius: 7px;
  border-color:white;
  margin:10px;
  padding:10px;
  margin-left: 35%;
}
#agc{
  text-align: center;
  background-color:rgb(4, 0, 44);
  color:white;
  border-radius: 7px;
  border-color:white;
  margin:10px;
  padding:10px;
  margin-left: 5%;
}
#agp:hover,#agc:hover{
  background-color:green;
  color:white;
}
#conte{
  text-align: center;
  color:white;
  font-size: 25px;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.473); 
}
.modal-content {
  background-color: rgba(4, 0, 44, .95);
  margin: auto;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  border:0;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.urg{
    background-color: red;
}
.casi_urg{
    background-color:yellow ;
}
.bien{
    background-color:green;
}
.btnMod{
  margin-top: 25px;
  width: 30%;
  background-color:white;
  color:rgba(4, 0, 44, .95); 
  padding:10px;
  border:solid;
  border-width:thin ;
  border-radius: 7px;
  border-color:white;
}
.btnMod:hover{
  background-color:rgba(4, 0, 44, .95);
  color:white;
}