*{
    border: 0;
    margin: 0;
    padding: 0;
}
#menu{
    margin-top:0px;
    padding: 10px;
    padding-bottom:15px;
    background-color:rgb(4, 0, 44); 
}
nav ul {
    overflow:hidden;
    list-style:none;
}
nav ul li {
    float:left;
    font-family:serif;
    font-size:25px;
    
}
.izq{
    margin-left:10%;
}
li{
    width: calc(80% /6); /* para que se simetricen los submenus */
    
} 

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgb(19, 139, 238);
}