#div{
    width:200px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    background-color:whitesmoke;
}
select{
    width:100%;
    background-color:whitesmoke;
}
.btnMen{
    margin-top: 15px;
    margin-left:100px;
    background-color:rgba(4, 0, 44, .95);
    color:white;
    padding:10px;
    border:solid;
    border-width:thin ;
    border-radius: 7px;
    border-color:white;
}
.btnMen:hover{
    background-color:white;
    color:rgba(4, 0, 44, .95); 
    }